html,
body {
  position: relative;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

body {
  color: $default-color;
  margin: 0;
  padding: $default-padding;
  box-sizing: border-box;
  font-family: $default-font;
  height: 100%;
  width: 100%;
  user-select: none;
  overflow-y: hidden;
  touch-action: none;
  overscroll-behavior-y: contain;
}

.root {
  margin: 20px;
}
