html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}

body {
  color: $default-color;
  margin: 0;
  padding: $default-padding;
  box-sizing: border-box;
  font-family: $default-font;
}

.root {
  margin: 20px;
}
